*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/wcity.png);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-content: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 1;
    text-align: right
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center
        
}
.text-box h1{
    font-size: 62px;
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    color: black;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    Color: #ff0000;
    border: 1px solid #ff0000;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.hero-btn:hover{
    border: 1px solid #FFF212;
    background: #FFF212;
    color: black;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    
nav img{
    width: 150px;}
    
.text-box h1{
    font-size: 20px;}
    .text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: #FFF212;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    Color: #ff0000;
    border: 1px solid #ff0000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: black;
        height: 100vh;
        width:200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;  
        transition: 1s;
    }
    .nav-links ul li a{
    color:greenyellow;
    text-decoration: none;
    font-size: 24px;
    }
    nav .fa{
        display: block;
        color: greenyellow;
        margin: 10px;
        font-size: 24px;
        cursor: pointer;
    } 
}


.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0   
}

.cta h1{
    Color:#FFF212;
    margin: 40px;
    padding: 0;
}

/*---- footer ----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    
}
.footer p{
    font-size: 32px;
    margin: 0 100px;
    
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 32px;
}
.icons .fa{
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px;
    font-size: 44px;
    
}
@media(max-width: 700px){
    .icons .fa{
        font-size: 24px;
    }
}

/*---- About us Page ----*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)),url(images/download.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.sub-header h1{
    margin-top: 100px;
}


.about-us {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-size:cover;
 
}

.about-us h1{
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    font-size: 50px;
}
.timeline img{
    margin: auto;
    width: auto;
    height: 1200px;
}

